################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/rigidbody/v16
/bin-int/Debug/x86
